@CHARSET "UTF-8";
h1{color:red;font-size:35px;font-family: 楷体}
.a1{color: blue;font-size:40px;font-family: Times New Roman}
.a2{color: #FFFF06;font-size:20px;font-family: 宋体}
.a3{background: #DE5C25;color: blue;font- size:45px;font-family:楷体}
 body{font:12px tahoma,'\5b8b\4f53',sans-serif;font-family:"Microsoft YaHei"; font-size:12px; color:#333; }
body{background-image: url(../Images/pp.jpg);background-repeat: repeat;background-size:100%;}
/**{ margin: 0; padding: 0; }

em, i { font-style:normal; }
img { border: none; display:block; }

.clearfix { *zoom:1;}
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clear { clear:both; }
.fl { float:left; }
.fr { float:right; }
.red { color: #ff0000 !important; }
.time { float:right; color:#999; font-size:12px; }*/
.mb10 { margin-top:50px;color:red;font-size:20px;font-family: 楷体 }
.mb10 { margin-left:40px; } 
a { text-decoration:none;font-size:30px;font-family:隶书; color:#50BCFB; outline:none; cursor:pointer; }.
a:hover { text-decoration:underline; color:#ff6600; }
p {color:#55E4FF; font-size: 150%; font-weight:bolder; }
ul, ol, li {color:blue; list-style:none; }
span {color:red;font-family: 宋体;font-size: 160%;}
input {
	color:red; font-family: 楷体;font-size: 160%;
}