<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd">
		<!-- 使用注解方式装配属性文件 -->
		<context:property-placeholder location="classpath:hibernate.template.properties" />
		<!-- 配置数据源 -->
		<bean id="springDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		    <property name="driverClassName" value="${hibernate.connection.driver_class}" />
		    <property name="url" value="${hibernate.connection.url}" />
		    <property name="username" value="${hibernate.connection.username}" />
		    <property name="password" value="${hibernate.connection.password}" />
		</bean>
		
		<!-- 整合sessionFactory对象到spring容器进行管理 -->
		<bean id="hibernateSessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		    <!-- 把spring容器中的数据源注入到dataSource属性中 -->
		    <property name="dataSource" ref="springDataSource" />
		    <!-- 扫描装配需要管理的实体类 -->
		    <property name="packagesToScan">
		        <list>
		            <value>com.s2sh.annotation.entity</value>
		        </list>
		    </property>
		    <!-- 配置额外属性 -->
		    <property name="hibernateProperties">
		        <props>
		            <prop key="hibernate.dialect">${hibernate.dialect}</prop>
		            <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
		            <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
		            <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
		        </props>
		    </property>
		</bean>
		
		<!-- 配置事务管理器 -->
		<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		    <property name="sessionFactory" ref="hibernateSessionFactory" />
		</bean>
		
		<!-- 使用注解形式来管理事务 -->
		<tx:annotation-driven transaction-manager="transactionManager"/>
		
		<!-- 启动自动扫描方式将需要管理的组件纳入到spring容器进行管理 -->
		<context:component-scan base-package="com.s2sh.annotation" />
</beans>