@CHARSET "UTF-8";
/* Login样式 */
#divv {
	border: 1px solid #6D7E6D;
	border-radius: 35px;
	background: rgba(255, 240, 199, 0.6);
	position: fixed;
	height: 40px;
	width: 18%;
	height: 70px;
	left: 1%;
	top: 40%;
}

#body {
	float: inherit;
	width: 100%;
	height: 400px;
}

#left1 {
	float: left;
	width: 70%;
	height: 100%
}

#right1 {
	float: left;
	width: 30%;
	height: 100%
}

#div2 {
	border-radius: 10px;
	border: 3px solid #DADDE2;
	margin-top: 18%;
	margin-left: 51%;
	width: 40%;
	min-height: 200px;
	background: rgba(128, 95, 59, 0.45)
}

#div1 {
	border-radius: 5px;
	margin-top: 55%;
	margin-left: 0;
	width: 35%;
	height: 35%;
	border: 1px solid #DADDE2;
	color: #ff0000;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	background: rgba(255, 255, 255, 0.4);
	display: none;
}
#foot1{
	width: 100%;
	height: 60px;
	text-align: center;
}

#form1 {
	text-align: center;
	margin-top: 10%;
	font-weight: bold;
}

#h2h {
	text-align: center;
	color: #23436D;
}
#titlediv{
	width:100%;
}



/* #h4h {
	text-align: center;
	margin-left: 2%;
	color: red;
} */

.button {
	border-radius: 5px;
	color: black;
	font-size: 15px;
	font-weight: bold;
	font-family: 微软雅黑;
	text-align: center;
	letter-spacing: 45px;
	padding-left: 45px;
	vertical-align: middle;
	margin-left: 15%;
	background: #FFF0C2;
}

.button:hover {
	border-top-color: #5DC3FD;
	background: #5DC3FD;
	color: #23436D;
}

.button:active {
	border-top-color: #8DE051;
	background: #8DE051;
}

.body2 {
	background-image: url(../Images/bg1.jpg);
	background-attachment: fixed;
	background-repeat: repeat;
	background-size: 100%;
}

/* Index2样式 */
.aa {
	width: 100%;
	height: 200px;
	background-image: url(../Images/top.PNG);
	background-repeat: repeat;
	background-size: 100%;
}

.body1 {
	background-image: url(../Images/bg.jpg);
	background-attachment: fixed;
	background-repeat: repeat;
	background-size: 100%;
}

#title{
	font-family: 微软雅黑;
	text-align:center;
}

#time{
	font-family: 微软雅黑;
	height: 20px;
}

#navbar {
	float: inherit;
}
.nav{
	border:2px solid #DBEAF9;
	border-radius: 15px;
	background: #52BEE3;
	width: 150px;
	height: 30px;
	line-height:30px;   
	overflow:hidden;  
	text-align: center;
	margin:0px auto;
	font-family: 微软雅黑;
	font-size:20px;
	font-style: italic;
}

#left {
	float: left;
	width: 25%;
	height: 100%;
	background: rgba(255,255,255,0);
}

#right {
	border: 0;
	border-radius: 10px;
	text-align: center;
	float: left;
	margin-top: 5%;
	width: 30%;
	height: 100%;
	background: rgba(110,200,220,0.4);
	
}

.ul1 {
	float: left;
	width: 50%;
	margin-top: 20%;
}

li {
	list-style-type: none;
	height: 40px; 
}

span {
	font-family: 微软雅黑;
}
#logout{
	font-family: 微软雅黑;
	color:#ff8040;
	letter-spacing: 2px;
}

a {
	font-family: 微软雅黑;
	color:#F0FFF0;
	letter-spacing: 5px;
}
a:link,a:visited{
 text-decoration:none;  /*超链接无下划线*/
}
a:hover{
 text-decoration:underline;  /*鼠标放上去有下划线*/
}

#h3h {
	color: #0080c0;
	font-weight: bold;
	font-size: 15px;
	margin-left:75%;
}