<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MyJavaWebCore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
<servlet>
    <servlet-name>default</servlet-name>
    <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
    <init-param>
      <param-name>useFileMappedBuffer</param-name>
      <param-value>false</param-value>
    </init-param>
     <load-on-startup>0</load-on-startup> 
  </servlet>
  
  
  <servlet>
    <servlet-name>Tservlet</servlet-name>
    <servlet-class>servlet.Tservlet</servlet-class>
    <init-param>
      <param-name>abc</param-name>
      <param-value>这是abc</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tservlet</servlet-name>
    <url-pattern>/servlet/Tservlet</url-pattern>
  </servlet-mapping>
</web-app>